.actionBtn {
  padding: 0.5rem;
  border-radius: 0.7rem;
  /* background: initial; */
  cursor: pointer;
  transition: all 0.1s ease;
}
.actionBtn:active {
  transform: translateY(2px) scale(0.9);
  box-shadow: initial;
  background: initial;
}

.actionIcon {
  color: var(--white);
  font-size: 2rem;
  position: relative;
  top: 1px;
}
.icon {
  width: 2rem;
  height: 2rem;
  fill: url(#gradient);
}

.tooltip {
  position: absolute;
  bottom: calc(100% + 5px); /* Position below the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%);
  background-color: var(--white); /* Tooltip background color */
  color: var(--zinc10); /* Tooltip text color */
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.8rem;
  z-index: 1000; /* Ensure tooltip is above other elements */
  opacity: 0.9; /* Adjust opacity as needed */
}
